* {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
}

.wall {
  position: relative;
  height: 100vh;
  background: url("../img/drums.jpg");
  background-size: cover;
  background-position: center;

}


nav {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 70px;
  width: 100%;
  background: linear-gradient(#020202, #505050);
  box-shadow: 0px 5px 20px #000;
}

.menu {
  display: none;
  position: absolute;
  top: 71px;
  right: 0;
  list-style: none;
  background: linear-gradient(#505050, #020202);
  box-shadow: 0 5px 10px #000;
}
.menu-btn {
  width: 70px;
  padding: 10px 0;
  margin: 10px 50px;
  border: 0;
  border-bottom: 4px solid #050505;
  font-family: 'Unkempt', cursive;
  text-shadow: 2px 2px 1px #020202;
  background: radial-gradient(circle at center, #454545 0, #232323, #151515 100%);
  color: #fff;
  cursor: pointer;
}

.menu-btn:focus { outline: none; }

.menu-item a {
  text-decoration: none;
  color: #fff;
}

nav h1 {
  margin-left: 5%;
  margin-top: 16px;
  text-align: center;
  font-size: 38px;
  font-family: 'Bangers', cursive;
}
/*-----------------------*/
.menu-icon {
  display: inline-block;
  float: right;
  width: 50px;
  height: 40px;
  position: relative;
  margin: 20px 5% auto auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu-icon span:nth-child(1) {
  top: 0px;
}

.menu-icon span:nth-child(2),.menu-icon span:nth-child(3) {
  top: 13px;
}

.menu-icon span:nth-child(4) {
  top: 26px;
}

.menu-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.btn {
  display: inline-block;
  position: absolute;
  width: 55px;
  height: 50px;
  border: 0;
  border-bottom: 4px solid #050505;
  border-radius: 13px;
  font-family: 'Unkempt', cursive;
  font-size: 20px;
  text-shadow: 2px 2px 1px #020202;
  background: radial-gradient(circle at center, #454545 0, #232323, #151515 100%);
  color: #fff;
}

.btn:focus { outline: none; }

.pressed {
  background: #151515;
  border: 2px solid #f7ca00;
}

#w { top: 30%; left: 30%; }
#a { top: 30%; left: 40%; }
#s { top: 30%; left: 50%; }
#d { top: 30%; left: 60%; }

#i { top: 45%; left: 30%; }
#j { top: 45%; left: 40%; }
#k { top: 45%; left: 50%; }
#l { top: 45%; left: 60%; }

#space { top: 60%; left: 45%; }

footer {
  position:fixed;
     left:0px;
     bottom:0px;
  height:30px;
  width:100%;
  padding-top: 15px;
  text-align: center;
  font-family: 'Unkempt', cursive;
  background: linear-gradient(#505050, #020202);
  box-shadow: 0px -5px 20px #000;
}
