$color-white: #fff;
$color-grey-dark-1: #010109;
$color-grey-dark-2: #2d2444;

$box-shadow-light: 0 1rem 2rem rgba(0, 0, 0, .7);
$text-shadow: 2px 2px 1px #0a0921;

// BREAKPOINTS
$bp-largest: 75em; // 1200px/16px
$bp-large: 68.75em; // 1100/16
$bp-medium: 56.25em; // 900/16
$bp-small: 37.5em; //600/16
$bp-smallest: 31.25em; // 500/16
