.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  position: relative;
  z-index: 1000;
  @include gradient-dark;

  &__main-heading {
    font-family: 'Bangers', cursive;
    font-size: 4rem;
    margin: 0;
  }
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;


  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 40rem;
    background: linear-gradient(#0a0921, #3e3c60);
    box-shadow: 0px 5px 20px #000;
    list-style: none;
    transform: translateY(-100%);
    position: absolute;
    z-index: 10;
    transition: transform .3s;

    &--open {
      transform: translateY(0);
    }

    &-item {
      display: flex;
      justify-content: center;
      flex: 0 0 55%;
    }
  }
}

.img-effect {
  display: none;
}

.wall {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 75vh;

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 50%;
  }

  &__row {
    justify-content: center;
  }
}

.footer {
  font-size: 1.5rem;
  padding: .5rem 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;


  & a {
    text-decoration: none;
    color: inherit;
  }
}
