.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-image: linear-gradient($color-grey-dark-1, $color-grey-dark-2, $color-grey-dark-1);
  box-shadow: $box-shadow-light;

  &__main-heading {
    font-family: 'Bangers', cursive;
    font-size: 4rem;
    margin: 0;
  }
}

.main-nav {
  display: flex;
  justify-content: flex-end;

  &__menu {
    display: flex;
    //flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 25%;
    background: linear-gradient(#0a0921, #3e3c60);
    box-shadow: 0px 5px 20px #000;
    list-style: none;
    transform: translateX(100%);
    transition: transform .3s;

    &--open {
      transform: translateX(0);
    }

    &-item {
      display: flex;
      justify-content: center;
      flex: 0 0 55%;
    }
  }
}

nav {




}

// .menu {
//
//   position: absolute;
//   top: 71px;
//   right: 0;
//
//   background: linear-gradient(#3e3c60, #0a0921);
//   box-shadow: 0 5px 10px #000;
//
// }
//
//
