.Menu {
  position: fixed;
  top: 5rem;
  right: 0;
  z-index: 19;
  width: 220px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#21033d, #5957e4);
  box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, .5);
  transition: all .5s;
}

.Open {
  transform: translateY(0);
}

.Close {
  transform: translateY(-100vh);
}