.Menu {
  position: fixed;
  top: 5rem;
  right: 0;
  z-index: 2;
  width: 220px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #31035c;
  transition: all .5s;
}

.Open {
  transform: translateY(0);
}

.Close {
  transform: translateY(-100%);
}