.Drum {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: -1px 1px #232323;
  /* border: 2px solid #221b24; */
  border-radius: 50%;
}

.Hat1 {
  bottom: 55%;
  right: 6%;
  z-index: 10;
  background-image:  
    linear-gradient(45deg, rgba(65, 65, 10, 0.5), rgba(255, 255, 255, .5)),
    radial-gradient(#29271d, #fcb83a 7px);
  width: 30%;
  height: 30%;
  align-items: flex-end;
  box-shadow: -13px 13px 10px rgba(0,0,0,.7),
    2px -2px 30px 4px rgba(0,0,0,.5) inset, 
    -10px 10px 10px rgba(255,255,255,.7) inset;
}

.Hat1::after {
  content: "\25CF";
  color: #232323;
  text-shadow: -3px 3px 1px rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
  position: absolute;
  background-image: linear-gradient(45deg, rgba(65, 65, 10, 0.5), rgba(255, 255, 255, .5)),
    radial-gradient(#29271d, #fcb83a 7px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 4px -4px 7px rgba(0,0,0,.5) inset, -4px 4px 10px rgba(0,0,0,.3), -4px 4px 6px rgba(255,255,255,.7) inset;
}

.Hat2 {
  bottom: 20%;
  left: 1%;
  z-index: 7;
  align-items: flex-end;
  background-image:  
    linear-gradient(45deg, rgba(65, 65, 10, 0.5), rgba(255, 255, 255, .5)),
    radial-gradient(#29271d, #fcb83a 7px);
  width: 24%;
  height: 24%;
  box-shadow: -13px 13px 10px rgba(0,0,0,.7),
    2px -2px 30px 4px rgba(0,0,0,.5) inset, 
    -10px 10px 10px rgba(255,255,255,.4) inset;
}

.Hat2::after {
  content: "\25CF";
  color: #232323;
  text-shadow: -3px 3px 4px rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
  position: absolute;
  background-image: linear-gradient(45deg, rgba(65, 65, 10, 0.5), rgba(255, 255, 255, .5)),
    radial-gradient(#29271d, #fcb83a 7px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 4px -4px 7px rgba(0,0,0,.2) inset,
    -2px 2px 3px rgba(0,0,0,.1), 
    -2px 2px 2px rgba(255,255,255,.2) inset;
}

.Hat3 {
  bottom: 45%;
  left: 3%;
  z-index: 8;
  align-items: flex-end;
  background-image:  
    linear-gradient(45deg, rgba(65, 65, 10, 0.5), rgba(255, 255, 255, .5)),
    radial-gradient(#29271d, #fcb83a 7px);
  width: 27%;
  height: 27%;
  box-shadow: -13px 13px 10px rgba(0,0,0,.7),
    2px -2px 30px 4px rgba(0,0,0,.5) inset, 
    -10px 10px 10px rgba(255,255,255,.4) inset;
}

.Hat3::after {
  content: "\25CF";
  color: #232323;
  text-shadow: -3px 3px 4px rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
  position: absolute;
  background-image: linear-gradient(45deg, rgba(65, 65, 10, 0.5), rgba(255, 255, 255, .5)),
    radial-gradient(#29271d, #fcb83a 7px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 4px -4px 7px rgba(0,0,0,.2) inset,
    -2px 2px 3px rgba(0,0,0,.1), 
    -2px 2px 2px rgba(255,255,255,.2) inset;
}

.Hat4 {
  bottom: 40%;
  right: 1%;
  z-index: 9;
  background-image:  
    linear-gradient(45deg, rgba(65, 65, 10, 0.5), rgba(255, 255, 255, .5)),
    radial-gradient(#29271d, #fcb83a 7px);
  width: 28%;
  height: 28%;
  align-items: flex-end;
  box-shadow: -10px 10px 10px rgba(0,0,0,.5),
    5px -5px 40px 4px rgba(0,0,0,.7) inset, 
    -5px 5px 10px rgba(255,255,255,.7) inset;
}

.Hat4::after {
  content: "\25CF";
  color: #232323;
  text-shadow: -3px 3px 1px rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 35%;
  position: absolute;
  background-image: linear-gradient(45deg, rgba(65, 65, 10, 0.5), rgba(255, 255, 255, .5)),
    radial-gradient(#29271d, #fcb83a 7px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 4px -4px 7px rgba(0,0,0,.5) inset,
    -4px 4px 10px rgba(0,0,0,.3), 
    -4px 4px 6px rgba(255,255,255,.7) inset;
}

.Snare1 {
  bottom: 22%;
  left: 15%;
  z-index: 5;
  background-image: radial-gradient(#fff, #363636);
  width: 22%;
  height: 22%;
}

.Snare2 {
  bottom: 45%;
  left: 25%;
  z-index: 6;
  background-image: radial-gradient(#fff, #1f1d1d);
  width: 22%;
  height: 22%;
}

.Snare3 {
  bottom: 45%;
  left: 55%;
  z-index: 5;
  background-image: radial-gradient(#fff, #383434);
  width: 23%;
  height: 23%;
}

.Snare4 {
  bottom: 14%;
  right: 5%;
  z-index: 4;
  background-image: radial-gradient(#acacac, #444343);
  width: 25%;
  height: 25%;
}

.Kick {
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-image: linear-gradient(90deg, #5e5e5e 40%, #fff 60%, #5e5e5e 100%);
  width: 34%;
  height: 30%;
  border-radius: 0;
  box-shadow: -3rem 3rem 10px rgba(0,0,0,.8);
}

.Kick::before {
  content: "space";
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: -45%;
  right: 30%;
  width: 20%;
  height: 40%;
  background-image: 
    linear-gradient(transparent 5%, #232323 5%, #232323 10%,
      transparent 10%, transparent 15%, #232323 15%, #232323 20%,
      transparent 20%, transparent 25%, #232323 25%, #232323 30%,
      transparent 30%, transparent 35%, #232323 35%, #232323 40%,
      transparent 40%, transparent 45%, #232323 45%, #232323 50%
      ),
      
      linear-gradient(#2e8ddb, #070b1b);
  border: 2px solid #232323;
  border-radius: 10px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-shadow: -1.5rem 0 5px rgba(0,0,0,.5);
}

.Kick::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 90%;
  border: 2px solid #232323;
  background-image: linear-gradient(90deg, 
    #070b1b, #0b3257 20%,
    #232323 20%, #232323 21%,
    transparent 21%, transparent 22%,
    #232323 22%, #232323 23%,
    #0b3257 23%, #2e8ddb, #8ab7c9 57%,
    #232323 57%, #232323 58%,
    white 58%, white 59%,
    #232323 59%, #232323 60%,
    #8ab7c9 60%, #2e8ddb , #0b3257 94%,
    #232323 94%, #232323 95%,
    transparent 95%, transparent 96%,
    #232323 96%, #232323 97%,
    #0b3257 97%, #070b1b 100%

    );
}