.Toolbar {
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-image: linear-gradient(#010107, #26233d, #454356, #26233d, #010107);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
  color: white;
}

@media (min-width: 600px) and (min-height: 600px) {
  .Toolbar {
    height: 6rem;
  }
}