.DrumKit {
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33291d;
  background-size: 5% 100px;
  background-image: linear-gradient(90deg, 
    #1a1a1a 2%, transparent 2%, transparent 96%, #80714b),
    radial-gradient(circle, #80714b 2%, #1a1a1a 2%, #1a1a1a 4%, transparent 4%);
}

.DrumKit::after {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(transparent 20%, #10061d);
}

.DrumsContainer {
  position: relative;
  width: 320px;
  height: 320px;
}

@media (min-width: 450px) and (min-height: 450px) {
  .DrumsContainer {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  .DrumsContainer {
    width: 600px;
    height: 600px;
  }
}

@media (min-width: 750px) and (min-height: 750px) {
  .DrumsContainer {
    width: 750px;
    height: 750px;
  }
}

@media (min-width: 900px) and (min-height: 900px) {
  .DrumsContainer {
    width: 900px;
    height: 900px;
  }
}

@media (min-width: 1050px) and (min-height: 1050px) {
  .DrumsContainer {
    width: 1050px;
    height: 1050px;
  }
}

@media (min-width: 1200px) and (min-height: 1200px) {
  .DrumsContainer {
    width: 1200px;
    height: 1200px;
  }
}

@media (min-width: 1450px) and (min-height: 1450px) {
  .DrumsContainer {
    width: 1450px;
    height: 1450px;
  }
}